.album-view-parent-wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #f9f8f8;
}

.album-view-wrapper {
    display: flex;
    flex-direction: column;
    gap: 40px;
}