.dropdown-item-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 8px;

    width: 80px;

    padding: 4px 4px;
    margin: 0;
}

.dropdown-item-wrapper:hover {
    cursor: pointer;
}

.dropdown-item-image {
    width: 36px;
    height: 36px;
}

.dropdown-item-name {
    /* Math AI */

    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    text-align: center;

    margin: 0;

    color: #000000;
}