.ib-logo-spacer {
    padding-top: 10px;
    padding-bottom: 10px;
}

.ib-logo-wrapper {
    /* IB-Logo-BG-Wrapper */
    width: 70px;
    height: 70px;

    background: #FFFFFF;
    border-radius: 1000px;

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

.ib-logo {
    /* ib-logo */

    width: 70px;
    height: 70px;

    border-radius: 9px;
}