.landing-subpage-layout {
    /* subpage-layout */

    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 0px;

    position: relative;
    width: 80vw;
    height: 100vh;
}

.landing-subpage-heading {
    /* An education like no other! */

    max-width: 613px;

    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    font-size: clamp(20px, 11vw + 0.1rem, 96px);
    line-height: clamp(10px, 12vw + 0.1rem, 110px);
    margin: 0px;

    background: linear-gradient(114.71deg, rgba(0, 0, 0, 0.52) 18.07%, rgba(0, 0, 0, 0.52) 18.08%, rgba(0, 0, 0, 0.8) 63.21%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;


    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

.landing-subpage-subheading {
    /* Lorem pahfujbaouifhiaebfo ]aeoufhapoeujfpou jhbwjgdvbaojefpi hbwa09di Lorem pahfujbaouifhiaebfo ]aeoufhapoeujfpou jhbwjgdvbaojefpi hbwa09di */

    max-width: 512px;

    margin: 0px;

    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;

    color: #5F5F5F;


    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
}

.landing-subpage-left-wrapper {
    /* left-text-wrapper */

    /* Auto layout */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px 5px;
    gap: 25px;

    max-width: 623px;
}

.landing-subpage-right-wrapper {
    /* right-wrapper */

    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
}

@media all and (max-width: 1000px) {
    .landing-subpage-layout {
        flex-direction: column;
    }

    .landing-subpage-left-wrapper {
        justify-content: center;
        align-items: center;
    }

    .landing-subpage-heading {
        text-align: center;
    }
}