.footer-page-wrapper {
    width: 100vw;
    background-color: #F9F8F8;
}

.footer-wrapper {
    position: relative;
    clip-path: polygon(0 20%, 100% 0, 100% 100%, 0% 100%);
    background: linear-gradient(89.83deg, #14B5EB 3.77%, #D226E1 92.26%);

    padding-top: 10vh;

    height: auto;
    width: 100vw;
}

.footer-content-wrapper {
    position: relative;
    bottom: 0px;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 10%;
    margin-right: 10%;
    padding-bottom: 5vh;

    width: 80%;
}

.footer-content-group {
    display: flex;
    flex-direction: column;
    gap: 1.5vh;
}

.footer-content-text {
    margin: 0 0;

    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    font-size: clamp(8px, 4vw + 0.1rem, 24px);
    color: white;
}

.footer-bottom-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

    padding-bottom: 2vh;
    padding-left: 10vw;
    padding-right: 10vw;
}

.footer-bottom-right-wrapper {
    display: flex;
    flex-direction: row;
    gap: 1vw;
}

.school-logo-wrapper {
    background-color: #FFFFFF;
    border-radius: 20px;
    height: 4vw;
    width: 11.86vw;
    padding: 0.5vw 0.5vw;
}

.school-logo {
    height: 4vw;
    width: 11.86vw;
}

.school-name-text {
    margin: 0 0;

    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    font-size: clamp(8px, 2vw + 0.1rem, 16px);
    color: white;
}