.footer-page-wrapper {
    width: 100vw;
    background-color: #F9F8F8;
}

.footer-content-wrapper {
    position: relative;
    bottom: 0px;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 10%;
    margin-right: 10%;
    padding-bottom: 5vh;
    column-gap: clamp(20px, 10vw, 10vw);
    row-gap: clamp(20px, 10vw, 10vw);

    width: auto;
    height: auto;
}

.footer-content-group {
    display: flex;
    flex-direction: column;
    gap: 1.5vh;
}

.footer-content-text {
    margin: 0 0;

    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    font-size: clamp(8px, 2vw + 0.1rem, 14px);
    color: white;

    transition: 0.3s ease-in;
}

.footer-content-text:hover {
    cursor: pointer;
}

.footer-content-text:hover {
    color: rgb(200, 200, 200, 1);
}

.footer-bottom-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;

    padding-bottom: 2vh;
    padding-left: 10vw;
    padding-right: 10vw;
}

.footer-bottom-right-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1vw;
}

.school-name-text {
    margin: 0 0;

    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    font-size: clamp(8px, 2vw + 0.1rem, 16px);
    color: white;
}

.footer-contact-list-wrapper {
    gap: 10px;
    padding-top: 14px;
}

.footer-contact-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}

.school-name-subtext {
    margin: 0 0;

    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 600;
    font-size: clamp(6px, 1.8vw + 0.1rem, 14px);
    color: white;
}

.contact-icon {
    width: clamp(12px, 3vw + 0.1rem, 20px);
    height: clamp(12px, 3vw + 0.1rem, 20px);
}

@media all and (max-width: 846px) {
    .footer-content-wrapper {
        column-gap: 30vw;
        row-gap: clamp(20px, 10vw, 10vw);
        width: auto;
    }

    .footer-bottom-right-wrapper {
        flex-direction: column;
    }
}
