.navbar-wrapper {
    /* navbar */

    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0px;
    gap: 20px;

    position: absolute;
    width: 100vw;
    left: 0;
    top: 0px;
}

.navbar {
    /* nav-bar */

    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5px 10px;
    gap: 50px;

    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
}

.language-picker-wrapper {
    /* language-picker-wrapper */

    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 6px 9px;
    gap: 3px;

    background: rgba(255, 255, 255, 0.7);
    border-radius: 8px;

    /* Inside auto layout */
    flex: none;
    order: 2;
    flex-grow: 0;
}

.flag {
    /* flag */

    width: 25px;
    height: 25px;
    border-radius: 1000px;

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

.language-text {
    /* text */

    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    font-size: clamp(8px, 2vw + 0.1rem, 18px);
    line-height: 21px;
    /* identical to box height */
    display: flex;
    align-items: center;
    text-align: center;

    margin: 0 0;

    color: #000000;


    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
}

.navbar-text {
    /* About Us */

    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: bold;
    font-size: clamp(8px, 2vw + 0.1rem, 24px);
    line-height: 28px;
    /* identical to box height */

    color: rgba(255, 255, 255, 0.85);

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

.ib-logo-spacer {
    padding-top: 10px;
    padding-bottom: 10px;
}

.ib-logo-wrapper {
    /* IB-Logo-BG-Wrapper */
    width: 70px;
    height: 70px;

    background: #FFFFFF;
    border-radius: 1000px;

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

.ib-logo {
    /* ib-logo */

    width: 70px;
    height: 70px;

    background: url(ib-world-school-logo-2-colour.png);
    border-radius: 9px;
}

@media all and (max-width: 1150px) {
    .navbar-wrapper {
        gap: 0px;
    }

    .navbar {
        gap: 3vw;
    }
}

@media all and (max-width: 600px) {
    .navbar {
        display: none;
    }

    .navbar-wrapper {
        justify-content: space-around;
    }
}

@media all and (max-width: 520px) {
    .ib-logo {
        width: 12vw;
        height: 12vw;
    }

    .ib-logo-wrapper {
        width: 12vw;
        height: 12vw;
    }
}

@media all and (max-width: 500px) {
    .flag {
        display: none;
    }
}