.mobile-navbar-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 4px 5vw;
    gap: 10px;

    position: absolute;
    width: 90vw;
    left: 0;
    top: 0px;

    z-index: 1;
}

.mobile-navbar-logo-wrapper {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.mobile-navbar-hamburger {
    width: 13vw;
    height: 13vw;
    cursor: pointer;
}

.expanded-navbar-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    position: fixed;
    width: 100vw;
    height: 97vh;
    padding-top: 3vh;

    background: linear-gradient(180deg, #074D8F 0%, #D226E1 100%);

    z-index: 2;
}

.expanded-navbar-top-wrapper {
    width: 90vw;
    height: 15vh;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.expanded-navbar-close-image {
    width: 10vw;
    height: 10vw;

    cursor: pointer;
}

.expanded-navbar-bottom-wrapper {
    height: 100%;
}

.expanded-navbar-bottom-wrapper-subcategories-layout {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 25px;
}

.expanded-navbar-bottom-wrapper-links-layout {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: flex-start;

    flex-wrap: wrap;

    gap: 10px;
}

.expanded-navbar-item-wrapper {
    width: 90vw;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    cursor: pointer;
}

.expanded-navbar-item-text {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 32px;
    display: flex;
    align-items: center;
    text-align: center;

    margin: 0;

    color: #FFFFFF;
}