.navbar-wrapper {
    /* navbar */

    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: center;
    padding: 0px;
    margin-top: 7px;
    gap: 10px;

    position: absolute;
    width: 100vw;
    left: 0;
    top: 0px;

    z-index: 1;
}

.navbar {
    /* nav-bar */

    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;
    padding: 5px 10px;

    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
}

.navbar-item-wrapper {
    height: 100px;
    padding: 0 clamp(4px, 1vw, 25px);
    margin: 0

    /* This is done so this box
       overlaps with the dropdown,
       that way we can catch the
       on mouse enter events  */
}

.language-picker-wrapper {
    /* language-picker-wrapper */

    /* Auto layout */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 6px 9px;
    gap: 3px;

    background: rgba(255, 255, 255, 0.7);
    border-radius: 8px;

    /* Inside auto layout */
    flex: none;
    order: 2;
    flex-grow: 0;
}

.flag {
    /* flag */

    width: 25px;
    height: 25px;
    border-radius: 1000px;

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
}

.language-text {
    /* text */

    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    font-size: clamp(8px, 4vw + 0.1rem, 18px);
    line-height: 21px;
    padding: 0 5px;
    /* identical to box height */
    display: flex;
    align-items: center;
    text-align: center;

    margin: 0 0;

    color: #000000;


    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
}

.navbar-text {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: bold;
    font-size: clamp(8px, 2vw + 0.1rem, 24px);
    line-height: 28px;
    /* identical to box height */

    transition: 0.3s ease-in;

    /* Inside auto layout */
    flex: none;
    order: 0;
    flex-grow: 0;
    color: rgba(255, 255, 255, 0.85);
}

.navbar-text:hover {
    color: rgba(200, 200, 200, 1);
}

.navbar-dropdown-wrapper {
    position: absolute;
    max-width: 450px;
    width: fit-content;

    overflow-x: hidden;

    background-color: white;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
    border-radius: 20px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
}

.navbar-dropdown-wrapper-padding {
    padding: 10px 10px;
}

.navbar-dropdown-complex-link-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    max-width: 300px;
    gap: 10px;

    /* height needs to remain constant
    between different tabs, I'm setting
    this to 246, if you add more items to
    the category with the most items,
    change this. TODO: Do this
    programatically */
    height: 246px;
}

.navbar-dropdown-subcategory-selector-wrappers {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    max-width: 100px;

    background-color: #c7d2da;
    position: relative;
    align-self: stretch;
}

.complex-dropdown-subcategory-wrapper {
    max-width: 120px;
    width: 100%;
    height: 100%;

    padding-left: 4px;
    padding-right: 4px;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: 0.2s ease-in-out;
}

.complex-dropdown-subcategory-wrapper:hover {
    background-color: white;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.15);
}

.complex-dropdown-subcategory-wrapper-selected {
    background-color: white;
}

.complex-dropdown-subcategory-text {
    font-family: 'Ubuntu';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 21px;

    margin: 0;

    text-align: center;
}

@media all and (max-width: 1150px) {
    .navbar-wrapper {
        gap: 0px;
    }
}

@media all and (max-width: 600px) {
    .navbar {
        display: none;
    }

    .navbar-wrapper {
        justify-content: space-around;
    }
}

@media all and (max-width: 520px) {
    .ib-logo {
        width: 12vw;
        height: 12vw;
    }

    .ib-logo-wrapper {
        width: 12vw;
        height: 12vw;
    }
}

@media all and (max-width: 500px) {
    .flag {
        display: none;
    }
}