.school-logo-wrapper {
    position: relative;

    background-color: #FFFFFF;
    border-radius: 20px;
    height: clamp(80px, 5vw, 5vw);
    width: clamp(80px, 5vw, 5vw);
    padding: 0.2vw 0.2vw;
}

.school-logo {
    height: 100%;
    width: 100%;
}