.cube-canvas {
    width: 600px;
    height: 600px;
    background-color: aqua;
}

@media all and (max-width: 1400px) {
    .cube-canvas {
        width: 38vw;
        height: 38vw;
    }
}

@media all and (max-width: 600px) {
    .cube-canvas {
        width: 90vw;
        height: 90vw;
    }
}